{% extends 'school/adminbase.html' %}

{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 10px;
    }

    .space {
      height: 380px;
    }
  </style>

  <script type="text/javascript">
    function confirmDelete() {
      return confirm("Are you sure you want to delete this student?");
    }
  </script>

</head>

<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Librarian</h6>
      </div>

      <table class="table table-hover table-striped table-bordered" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Actions</th>
          </tr>
        </thead>
        {% for l in librarians %}
        <tr>
          <td>{{ l.get_name }}</td>
          <td>{{ l.mobile }}</td>
          <td>
            <a class="btn btn-primary btn-xs" href="{% url 'update-librarian' l.id %}">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
            <a class="btn btn-danger btn-xs" href="{% url 'delete-librarian-from-school' l.id %}" onclick="return confirmDelete();">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<div class="space"></div>

{% endblock content %}
